metrics:
  ceilometer_cpu:
    unit: instance
    alt_name: instance
    groupby:
      - resource
      - user
      - project
      - flavor_name
      - flavor_id
    mutate: NUMBOOL
    extra_args:
      aggregation_method: max

  ceilometer_image_size:
    unit: MiB
    factor: 1/1048576
    groupby:
      - resource
      - project
    metadata:
      - container_format
      - disk_format
    extra_args:
      aggregation_method: max

  ceilometer_disk_ephemeral_size:
    unit: GiB
    groupby:
      - resource
      - user
      - project
    metadata:
      - type
    extra_args:
      aggregation_method: max

  ceilometer_disk_root_size:
    unit: GiB
    groupby:
      - resource
      - user
      - project
    metadata:
      - type
    extra_args:
      aggregation_method: max

  ceilometer_network_outgoing_bytes:
    unit: B
    groupby:
      - resource
      - project
      - user
    metadata:
      - vm_instance
    extra_args:
      aggregation_method: max

  ceilometer_network_incoming_bytes:
    unit: B
    groupby:
      - resource
      - project
      - user
    metadata:
      - vm_instance
    extra_args:
      aggregation_method: max

  ceilometer_ip_floating:
    unit: ip
    groupby:
      - resource
      - user
      - project
    metadata:
      - state
    mutate: NUMBOOL
    extra_args:
      aggregation_method: max
