# This rule is not used by the project telemetry-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants full permissions ('*') over telemetry.openstack.org.
# This role is intended for users authorized to modify roles and bindings within the cluster,
# enabling them to delegate specific permissions to other users or groups as needed.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: telemetry-operator
    app.kubernetes.io/managed-by: kustomize
  name: metricstorage-admin-role
rules:
- apiGroups:
  - telemetry.openstack.org
  resources:
  - metricstorages
  verbs:
  - '*'
- apiGroups:
  - telemetry.openstack.org
  resources:
  - metricstorages/status
  verbs:
  - get
