# This rule is not used by the project telemetry-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants read-only access to telemetry.openstack.org resources.
# This role is intended for users who need visibility into these resources
# without permissions to modify them. It is ideal for monitoring purposes and limited-access viewing.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: telemetry-operator
    app.kubernetes.io/managed-by: kustomize
  name: telemetry-viewer-role
rules:
- apiGroups:
  - telemetry.openstack.org
  resources:
  - telemetries
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - telemetry.openstack.org
  resources:
  - telemetries/status
  verbs:
  - get
