---
sources:
    - name: pollsters
      interval: 300
      meters:
        - volume.*
        - image.*
        - ip.floating
{{- if .SwiftRole }}
        - storage.*
{{- end }}
{{- if .ManilaEnabled }}
        - manila.*
{{- end }}
{{- if .DesignateEnabled }}
        - dns.*
{{- end }}
{{- if .OctaviaEnabled }}
        - loadbalancer.*
{{- end }}
