# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/telemetry.openstack.org_telemetries.yaml
- bases/telemetry.openstack.org_autoscalings.yaml
- bases/telemetry.openstack.org_ceilometers.yaml
- bases/telemetry.openstack.org_loggings.yaml
- bases/telemetry.openstack.org_metricstorages.yaml
- bases/telemetry.openstack.org_cloudkittyapis.yaml
- bases/telemetry.openstack.org_cloudkittyprocs.yaml
- bases/telemetry.openstack.org_cloudkitties.yaml
#+kubebuilder:scaffold:crdkustomizeresource

patchesStrategicMerge:
# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
# patches here are for enabling the conversion webhook for each CRD
#- patches/webhook_in_telemetries.yaml
#- patches/webhook_in_ceilometers.yaml
#- patches/webhook_in_autoscalings.yaml
#- patches/webhook_in_loggings.yaml
#- patches/webhook_in_metricstorages.yaml
#- patches/webhook_in_cloudkittyapis.yaml
#- patches/webhook_in_cloudkittyprocs.yaml
#- patches/webhook_in_cloudkitties.yaml
#+kubebuilder:scaffold:crdkustomizewebhookpatch

# [CERTMANAGER] To enable cert-manager, uncomment all the sections with [CERTMANAGER] prefix.
# patches here are for enabling the CA injection for each CRD
#- patches/cainjection_in_telemetries.yaml
#- patches/cainjection_in_ceilometers.yaml
#- patches/cainjection_in_autoscalings.yaml
#- patches/cainjection_in_loggings.yaml
#- patches/cainjection_in_metricstorages.yaml
#- patches/cainjection_in_cloudkittyapis.yaml
#- patches/cainjection_in_cloudkittyprocs.yaml
#- patches/cainjection_in_cloudkitties.yaml
#+kubebuilder:scaffold:crdkustomizecainjectionpatch

# the following config is for teaching kustomize how to do kustomization for CRDs.
configurations:
- kustomizeconfig.yaml
