---
- hosts: all
  tasks:
    - name: create ceilometer config dirs
      become: true
      ansible.builtin.file:
        path: '{{ item.path }}'
        state: directory
        setype: "{{ item.setype | default('container_file_t') }}"
        owner: '{{ansible_user}}'
        group: '{{ansible_user}}'
        mode: "{{ item.mode | default('750') }}"
        recurse: true
      with_items:
      - { 'path': /var/lib/openstack/config/containers}
      - { 'path': /var/lib/openstack/config/ceilometer}

    - name: create persistent directories
      become: true
      file:
        path: "{{ item.path }}"
        setype: "{{ item.setype | default('container_file_t') }}"
        state: directory
        owner: "{{ item.owner | default(ansible_user) }}"
        group: "{{ item.group | default(ansible_user) }}"
        mode: "{{ item.mode | default(omit) }}"
      with_items:
      - { 'path': /var/log/containers/ceilometer, 'mode': '0750' }

    - name: Copy generated ceilometer configs
      ansible.builtin.copy:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: "{{ item.mode | default('640') }}"
      with_items:
      - { 'src': "/var/lib/config-data/merged/ceilometer.conf", "dest": "/var/lib/openstack/config/ceilometer/ceilometer.conf" }
      - { 'src': "/var/lib/config-data/merged/polling.yaml", "dest": "/var/lib/openstack/config/ceilometer/polling.yaml" }
      - { 'src': "/var/lib/config-data/merged/ceilometer_agent_compute.json", "dest": "/var/lib/openstack/config/containers/ceilometer_agent_compute.json" }
      - { 'src': "/var/lib/config-data/merged/ceilometer-agent-compute.json", "dest": "/var/lib/openstack/config/ceilometer/ceilometer-agent-compute.json" }
    
    - name: deploy ceilometer container
      ansible.builtin.include_role:
        name: osp.edpm.edpm_container_manage
      vars:
        edpm_container_manage_config: '/var/lib/openstack/config/containers'
        edpm_container_manage_healthcheck_disabled: true
        edpm_container_manage_debug: true
        edpm_container_manage_config_patterns: 'ceilometer_agent_compute.json'
        edpm_container_manage_clean_orphans: false
    
    - name: restart ceilometer
      become: true
      ansible.builtin.systemd:
        state: restarted
        name: edpm_ceilometer_agent_compute.service