---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: telemetries.telemetry.openstack.org
spec:
  group: telemetry.openstack.org
  names:
    kind: Telemetry
    listKind: TelemetryList
    plural: telemetries
    singular: telemetry
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: Ceilometer is the Schema for the telemetries API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: CeilometerSpec defines the desired state of Ceilometer
            properties:
              centralImage:
                default: quay.io/tripleomastercentos9/openstack-ceilometer-central:current-tripleo
                type: string
              customServiceConfig:
                default: '# add your customization here'
                description: CustomServiceConfig - customize the service config using
                  this parameter to change service defaults, or overwrite rendered
                  information using raw OpenStack config format. The content gets
                  added to to /etc/<service>/<service>.conf.d directory as custom.conf
                  file.
                type: string
              defaultConfigOverwrite:
                additionalProperties:
                  type: string
                description: 'ConfigOverwrite - interface to overwrite default config
                  files like e.g. logging.conf or policy.json. But can also be used
                  to add additional files. Those get added to the service config dir
                  in /etc/<service> . TODO: -> implement'
                type: object
              description:
                default: A ceilometer agent
                type: string
              initImage:
                default: quay.io/tripleomastercentos9/openstack-ceilometer-central:current-tripleo
                type: string
              networkAttachmentDefinitions:
                description: NetworkAttachmentDefinitions list of network attachment
                  definitions the service pod gets attached to
                items:
                  type: string
                type: array
              notificationImage:
                default: quay.io/tripleomastercentos9/openstack-ceilometer-notification:current-tripleo
                type: string
              passwordSelector:
                default:
                  password: password
                  username: username
                description: PasswordSelectors - Selectors to identify host, username
                  and password from the Secret
                properties:
                  host:
                    default: host
                    description: Host - Selector to get the host of the RabbitMQ connection
                    type: string
                  password:
                    default: password
                    description: Password - Selector to get the password of the RabbitMQ
                      connection
                    type: string
                  service:
                    default: CeilometerPassword
                    description: Service - Selector to get the ceilometer service
                      password from the Secret
                    type: string
                  username:
                    default: username
                    description: Username - Selector to get the username of the RabbitMQ
                      connection
                    type: string
                type: object
              rabbitMQSecret:
                default: rabbitmq-default-user
                description: The needed values to connect to RabbitMQ
                type: string
              secret:
                default: osp-secret
                description: Secret containing OpenStack password information for
                  ceilometer
                type: string
              serviceUser:
                default: ceilometer
                description: ServiceUser - optional username used for this service
                  to register in keystone
                type: string
              sgCoreImage:
                default: quay.io/infrawatch/sg-core:latest
                type: string
            type: object
          status:
            description: CeilometerStatus defines the observed state of Ceilometer
            properties:
              conditions:
                description: Conditions
                items:
                  description: Condition defines an observation of a API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another. This should be when the underlying condition changed.
                        If that is not known, then using the time when the API field
                        changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition
                        in CamelCase.
                      type: string
                    severity:
                      description: Severity provides a classification of Reason code,
                        so the current situation is immediately understandable and
                        could act accordingly. It is meant for situations where Status=False
                        and it should be indicated if it is just informational, warning
                        (next reconciliation might fix it) or an error (e.g. DB create
                        issue and no actions to automatically resolve the issue can/should
                        be done). For conditions where Status=Unknown or Status=True
                        the Severity should be SeverityNone.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition in CamelCase.
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              hash:
                additionalProperties:
                  type: string
                description: Map of hashes to track e.g. job status
                type: object
              networks:
                description: Networks in addtion to the cluster network, the service
                  is attached to
                items:
                  type: string
                type: array
              readyCount:
                description: ReadyCount of keystone API instances
                format: int32
                type: integer
              serviceID:
                description: ServiceID
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}